---
import MainLayout from "../../layouts/MainLayout.astro";
---
<MainLayout title="Layout Test">
  <div class="m-12 p-8 bg-white rounded-lg">
    <h1 class="text-2xl font-bold">Layout Test Passed</h1>
    <p>If you can see this text inside the full site layout, the MainLayout.astro component is working correctly.</p>
  </div>
</MainLayout>